$min-tablet-breakpoint: 768px;
$min-desktop-breakpoint: 1280px;

// Colours
$purple: #B6B2FF;
$blue: #B8E1FF;
$lightblue: #A9FFF7;
$green: #82ABA1;
$lightgreen: #94FBAB;
$black: #13182C;
$white: #FFFFFF;
$grey: #848181;

$border-default: 0.0625rem solid $grey;